

<div class="container">
  <h1>Stupid Coaching</h1>

  <div class="replies">
    <%= @user_answer %>
    <p>—You</p>
  </div>


  <br>

  <div class="coach replies">
    <%= @coach_answer %>
    <p>—Your coach</p>
  </div>
  <br>
  <%= link_to "Ask more questions!", ask_path %>
</div>
